@charset "UTF-8";
@import "entypo-fonts";

[class^="icon-entypo-"], [class*=" icon-entypo-"] {
  font-family: entypo;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

/* main icon map */
.icon-entypo-phone:before { content: '\1f4de'; } /* 1f4de */
.icon-entypo-mobile:before { content: '\1f4f1'; } /* 1f4f1 */
.icon-entypo-mouse:before { content: '\e789'; } /* e789 */
.icon-entypo-address:before { content: '\e723'; } /* e723 */
.icon-entypo-mail:before { content: '\2709'; } /* 2709 */
.icon-entypo-paper-plane:before { content: '\e79b'; } /* e79b */
.icon-entypo-pencil:before { content: '\270e'; } /* 270e */
.icon-entypo-feather:before { content: '\2712'; } /* 2712 */
.icon-entypo-attach:before { content: '\1f4ce'; } /* 1f4ce */
.icon-entypo-inbox:before { content: '\e777'; } /* e777 */
.icon-entypo-reply:before { content: '\e712'; } /* e712 */
.icon-entypo-reply-all:before { content: '\e713'; } /* e713 */
.icon-entypo-forward:before { content: '\27a6'; } /* 27a6 */
.icon-entypo-user:before { content: '\1f464'; } /* 1f464 */
.icon-entypo-users:before { content: '\1f465'; } /* 1f465 */
.icon-entypo-add-user:before { content: '\e700'; } /* e700 */
.icon-entypo-vcard:before { content: '\e722'; } /* e722 */
.icon-entypo-export:before { content: '\e715'; } /* e715 */
.icon-entypo-location:before { content: '\e724'; } /* e724 */
.icon-entypo-map:before { content: '\e727'; } /* e727 */
.icon-entypo-compass:before { content: '\e728'; } /* e728 */
.icon-entypo-direction:before { content: '\27a2'; } /* 27a2 */
.icon-entypo-share:before { content: '\e73c'; } /* e73c */
.icon-entypo-shareable:before { content: '\e73e'; } /* e73e */
.icon-entypo-heart:before { content: '\2665'; } /* 2665 */
.icon-entypo-heart-empty:before { content: '\2661'; } /* 2661 */
.icon-entypo-star:before { content: '\2605'; } /* 2605 */
.icon-entypo-star-empty:before { content: '\2606'; } /* 2606 */
.icon-entypo-thumbs-up:before { content: '\1f44d'; } /* 1f44d */
.icon-entypo-thumbs-down:before { content: '\1f44e'; } /* 1f44e */
.icon-entypo-chat:before { content: '\e720'; } /* e720 */
.icon-entypo-comment:before { content: '\e718'; } /* e718 */
.icon-entypo-quote:before { content: '\275e'; } /* 275e */
.icon-entypo-home:before { content: '\2302'; } /* 2302 */
.icon-entypo-popup:before { content: '\e74c'; } /* e74c */
.icon-entypo-search:before { content: '\1f50d'; } /* 1f50d */
.icon-entypo-flashlight:before { content: '\1f526'; } /* 1f526 */
.icon-entypo-print:before { content: '\e716'; } /* e716 */
.icon-entypo-bell:before { content: '\1f514'; } /* 1f514 */
.icon-entypo-link:before { content: '\1f517'; } /* 1f517 */
.icon-entypo-flag:before { content: '\2691'; } /* 2691 */
.icon-entypo-cog:before { content: '\2699'; } /* 2699 */
.icon-entypo-tools:before { content: '\2692'; } /* 2692 */
.icon-entypo-trophy:before { content: '\1f3c6'; } /* 1f3c6 */
.icon-entypo-tag:before { content: '\e70c'; } /* e70c */
.icon-entypo-camera:before { content: '\1f4f7'; } /* 1f4f7 */
.icon-entypo-megaphone:before { content: '\1f4e3'; } /* 1f4e3 */
.icon-entypo-moon:before { content: '\263d'; } /* 263d */
.icon-entypo-palette:before { content: '\1f3a8'; } /* 1f3a8 */
.icon-entypo-leaf:before { content: '\1f342 '; } /* 1f342 */
.icon-entypo-note:before { content: '\266a'; } /* 266a */
.icon-entypo-beamed-note:before { content: '\266b'; } /* 266b */
.icon-entypo-graduation-cap:before { content: '\1f393 '; } /* 1f393 */
.icon-entypo-book:before { content: '\1f4d5 '; } /* 1f4d5 */
.icon-entypo-newspaper:before { content: '\1f4f0'; } /* 1f4f0 */
.icon-entypo-bag:before { content: '\1f45c'; } /* 1f45c */
.icon-entypo-lifebuoy:before { content: '\e788'; } /* e788 */
.icon-entypo-eye:before { content: '\e70a'; } /* e70a */
.icon-entypo-clock:before { content: '\1f554'; } /* 1f554 */
.icon-entypo-mic:before { content: '\1f3a4'; } /* 1f3a4 */
.icon-entypo-calendar:before { content: '\1f4c5'; } /* 1f4c5 */
.icon-entypo-flash:before { content: '\26a1'; } /* 26a1 */
.icon-entypo-thunder-cloud:before { content: '\26c8'; } /* 26c8 */
.icon-entypo-droplet:before { content: '\1f4a7'; } /* 1f4a7 */
.icon-entypo-cd:before { content: '\1f4bf'; } /* 1f4bf */
.icon-entypo-briefcase:before { content: '\1f4bc'; } /* 1f4bc */
.icon-entypo-air:before { content: '\e753'; } /* e753 */
.icon-entypo-hourglass:before { content: '\23f3'; } /* 23f3 */
.icon-entypo-gauge:before { content: '\e7a2'; } /* e7a2 */
.icon-entypo-language:before { content: '\e752'; } /* e752 */
.icon-entypo-network:before { content: '\e776'; } /* e776 */
.icon-entypo-key:before { content: '\1f511'; } /* 1f511 */
.icon-entypo-battery:before { content: '\1f50b'; } /* 1f50b */
.icon-entypo-bucket:before { content: '\e756'; } /* e756 */
.icon-entypo-magnet:before { content: '\e7a1'; } /* e7a1 */
.icon-entypo-drive:before { content: '\e755'; } /* e755 */
.icon-entypo-cup:before { content: '\2615'; } /* 2615 */
.icon-entypo-rocket:before { content: '\1f680'; } /* 1f680 */
.icon-entypo-brush:before { content: '\e79a'; } /* e79a */
.icon-entypo-suitcase:before { content: '\e78e'; } /* e78e */
.icon-entypo-traffic-cone:before { content: '\e7a3'; } /* e7a3 */
.icon-entypo-globe:before { content: '\1f30e'; } /* 1f30e */
.icon-entypo-keyboard:before { content: '\2328'; } /* 2328 */
.icon-entypo-publish:before { content: '\e74d'; } /* e74d */
.icon-entypo-progress-3:before { content: '\e76b'; } /* e76b */
.icon-entypo-progress-2:before { content: '\e76a'; } /* e76a */
.icon-entypo-progress-1:before { content: '\e769'; } /* e769 */
.icon-entypo-progress-0:before { content: '\e768'; } /* e768 */
.icon-entypo-light-down:before { content: '\1f505'; } /* 1f505' */
.icon-entypo-light-up:before { content: '\1f506'; } /* 1f506 */
.icon-entypo-adjust:before { content: '\25d1'; } /* 25d1 */
.icon-entypo-code:before { content: '\e714'; } /* e714 */
.icon-entypo-monitor:before { content: '\1f4bb'; } /* 1f4bb */
.icon-entypo-infinity:before { content: '\221e'; } /* 221e */
.icon-entypo-credit-card:before { content: '\1f4b3'; } /* 1f4b3 */
.icon-entypo-database:before { content: '\e754'; } /* e754 */
.icon-entypo-clipboard:before { content: '\1f4cb'; } /* 1f4cb */
.icon-entypo-box:before { content: '\1f4e6'; } /* 1f4e6 */
.icon-entypo-ticket:before { content: '\1f3ab'; } /* 1f3ab */
.icon-entypo-rss:before { content: '\e73a'; } /* e73a */
.icon-entypo-signal:before { content: '\1f4f6'; } /* 1f4f6 */
.icon-entypo-thermometer:before { content: '\e757'; } /* e757 */
.icon-entypo-water:before { content: '\1f4a6'; } /* 1f4a6 */
.icon-entypo-sweden:before { content: '\f601'; } /* f601 */
.icon-entypo-lock:before { content: '\1f512'; } /* 1f512 */
.icon-entypo-lock-open:before { content: '\1f513'; } /* 1f513 */
.icon-entypo-logout:before { content: '\e741'; } /* e741 */
.icon-entypo-login:before { content: '\e740'; } /* e740 */
.icon-entypo-check:before { content: '\2713'; } /* 2713 */
.icon-entypo-squared-plus:before { content: '\229e'; } /* 229e */
.icon-entypo-squared-minus:before { content: '\229f'; } /* 229f */
.icon-entypo-circled-plus:before { content: '\2795'; } /* 2795 */
.icon-entypo-circled-minus:before { content: '\2796'; } /* 2796 */
.icon-entypo-plus:before { content: '\2b'; } /* 2b */
.icon-entypo-minus:before { content: '\2d'; } /* 2d */
.icon-entypo-erase:before { content: '\232b'; } /* 232b */
.icon-entypo-block:before { content: '\1f6ab'; } /* 1f6ab */
.icon-entypo-info:before { content: '\2139'; } /* 2139 */
.icon-entypo-circled-info:before { content: '\e705'; } /* e705 */
.icon-entypo-help:before { content: '\2753'; } /* 2753 */
.icon-entypo-circled-help:before { content: '\e704'; } /* e704 */
.icon-entypo-ccw:before { content: '\27f2'; } /* 27f2 */
.icon-entypo-cw:before { content: '\27f3'; } /* 27f3 */
.icon-entypo-shuffle:before { content: '\1f500'; } /* 1f500 */
.icon-entypo-back:before { content: '\1f519'; } /* 1f519 */
.icon-entypo-level-up:before { content: '\21b0'; } /* 21b0 */
.icon-entypo-level-down:before { content: '\21b3'; } /* 21b3 */
.icon-entypo-retweet:before { content: '\e717'; } /* e717 */
.icon-entypo-loop:before { content: '\1f501'; } /* 1f501 */
.icon-entypo-back-in-time:before { content: '\e771'; } /* e771 */
.icon-entypo-switch:before { content: '\21c6'; } /* 21c6 */
.icon-entypo-layout:before { content: '\268f'; } /* 268f */
.icon-entypo-list:before { content: '\2630'; } /* 2630 */
.icon-entypo-doc:before { content: '\e730'; } /* e730 */
.icon-entypo-docs:before { content: '\e736'; } /* e736 */
.icon-entypo-text-doc-inverted:before { content: '\e731'; } /* e731 */
.icon-entypo-landscape-doc:before { content: '\e737'; } /* e737 */
.icon-entypo-picture:before { content: '\1f304'; } /* 1f304 */
.icon-entypo-video:before { content: '\1f3ac'; } /* 1f3ac */
.icon-entypo-music:before { content: '\1f3b5'; } /* 1f3b5 */
.icon-entypo-folder:before { content: '\1f4c1 '; } /* 1f4c1 */
.icon-entypo-archive:before { content: '\e738'; } /* e738 */
.icon-entypo-trash:before { content: '\e729'; } /* e729 */
.icon-entypo-upload:before { content: '\1f4e4'; } /* 1f4e4 */
.icon-entypo-download:before { content: '\1f4e5'; } /* 1f4e5 */
.icon-entypo-install:before { content: '\e778'; } /* e778 */
.icon-entypo-cloud:before { content: '\2601'; } /* 2601 */
.icon-entypo-upload-cloud:before { content: '\e711'; } /* e711 */
.icon-entypo-bookmark:before { content: '\1f516'; } /* 1f516 */
.icon-entypo-bookmarks:before { content: '\1f4d1'; } /* 1f4d1 */
.icon-entypo-play:before { content: '\25b6'; } /* 25b6 */
.icon-entypo-paus:before { content: '\2389'; } /* 2389 */
.icon-entypo-record:before { content: '\26ab'; } /* 26ab */
.icon-entypo-stop:before { content: '\25a0'; } /* 25a0 */
.icon-entypo-to-end:before { content: '\23ed'; } /* 23ed */
.icon-entypo-to-start:before { content: '\23ee'; } /* 23ee */
.icon-entypo-resize-full:before { content: '\e744'; } /* e744 */
.icon-entypo-resize-small:before { content: '\e746'; } /* e746 */
.icon-entypo-volume:before { content: '\e742'; } /* e742 */
.icon-entypo-sound:before { content: '\1f50a'; } /* 1f50a */
.icon-entypo-mute:before { content: '\1f507'; } /* 1f507 */
.icon-entypo-flow-cascade:before { content: '\e790'; } /* e790 */
.icon-entypo-flow-branch:before { content: '\e791'; } /* e791 */
.icon-entypo-flow-tree:before { content: '\e792'; } /* e792 */
.icon-entypo-flow-line:before { content: '\e793'; } /* e793 */
.icon-entypo-flow-parallel:before { content: '\e794'; } /* e794 */
.icon-entypo-left-bold:before { content: '\e4ad'; } /* e4ad */
.icon-entypo-right-bold:before { content: '\e4ae'; } /* e4ae */
.icon-entypo-up-bold:before { content: '\e4af'; } /* e4af */
.icon-entypo-down-bold:before { content: '\e4b0'; } /* e4b0 */
.icon-entypo-left:before { content: '\261c'; } /* 261c */
.icon-entypo-up:before { content: '\261d'; } /* 261d */
.icon-entypo-right:before { content: '\261e'; } /* 261e */
.icon-entypo-down:before { content: '\261f'; } /* 261f */
.icon-entypo-circled-down:before { content: '\e758'; } /* e758 */
.icon-entypo-circled-left:before { content: '\e759'; } /* e759 */
.icon-entypo-circled-right:before { content: '\e75a'; } /* e75a */
.icon-entypo-circled-up:before { content: '\e75b'; } /* e75b */
.icon-entypo-left-thin:before { content: '\2190'; } /* 2190 */
.icon-entypo-up-thin:before { content: '\2191'; } /* 2191 */
.icon-entypo-right-thin:before { content: '\2192'; } /* 2192 */
.icon-entypo-down-thin:before { content: '\2193'; } /* 2193 */
.icon-entypo-arrow-combo:before { content: '\e74f'; } /* e74f */
.icon-entypo-dot:before { content: '\e78b'; } /* e78b */
.icon-entypo-two-dots:before { content: '\e78c'; } /* e78c */
.icon-entypo-three-dots:before { content: '\e78d'; } /* e78d */
.icon-entypo-cc:before { content: '\e7a5'; } /* e7a5 */
.icon-entypo-cc-by:before { content: '\e7a6'; } /* e7a6 */
.icon-entypo-cc-nc:before { content: '\e7a7'; } /* e7a7 */
.icon-entypo-cc-nc-eu:before { content: '\e7a8'; } /* e7a8 */
.icon-entypo-cc-nc-jp:before { content: '\e7a9'; } /* e7a9 */
.icon-entypo-cc-sa:before { content: '\e7aa'; } /* e7aa */
.icon-entypo-cc-nd:before { content: '\e7ab'; } /* e7ab */
.icon-entypo-cc-pd:before { content: '\e7ac'; } /* e7ac */
.icon-entypo-cc-zero:before { content: '\e7ad'; } /* e7ad */
.icon-entypo-cc-share:before { content: '\e7ae'; } /* e7ae */
.icon-entypo-cc-remix:before { content: '\e7af'; } /* e7af */
.icon-entypo-db-logo:before { content: '\f603'; } /* f603 */
.icon-entypo-db-shape:before { content: '\f600'; } /* f600 */
.icon-entypo-save:before { content: '\1f4be'; } /* 1f4be */
.icon-entypo-ff:before { content: '\23e9'; } /* 23e9 */
.icon-entypo-fb:before { content: '\23ea'; } /* 23ea */
.icon-entypo-pie-chart:before { content: '\e751'; } /* e751 */
.icon-entypo-line-graph:before { content: '\1f4c8'; } /* 1f4c8 */
.icon-entypo-bar-graph:before { content: '\1f4ca '; } /* 1f4ca */
.icon-entypo-area-graph:before { content: '\1f53e'; } /* 1f53e */
.icon-entypo-chevron-down:before { content: '\e75c'; } /* e75c */
.icon-entypo-chevron-left:before { content: '\e75d'; } /* e75d */
.icon-entypo-chevron-right:before { content: '\e75e'; } /* e75e */
.icon-entypo-chevron-up:before { content: '\e75f'; } /* e75f */
.icon-entypo-chevron-small-down:before { content: '\e760'; } /* e760 */
.icon-entypo-chevron-small-left:before { content: '\e761'; } /* e761 */
.icon-entypo-chevron-small-right:before { content: '\e762'; } /* e762 */
.icon-entypo-chevron-small-up:before { content: '\e763'; } /* e763 */
.icon-entypo-chevron-thin-down:before { content: '\e764'; } /* e764 */
.icon-entypo-chevron-thin-left:before { content: '\e765'; } /* e765 */
.icon-entypo-chevron-thin-right:before { content: '\e766'; } /* e766 */
.icon-entypo-chevron-thin-up:before { content: '\e767'; } /* e767 */
.icon-entypo-text-doc:before { content: '\1f4c4'; } /* 1f4c4 */
.icon-entypo-open-book:before { content: '\1f4d6'; } /* 1f4d6 */
.icon-entypo-voicemail:before { content: '\2707'; } /* 2707 */
.icon-entypo-triangle-right:before { content: '\25b8'; } /* 25b8 */
.icon-entypo-triangle-up:before { content: '\25b4'; } /* 25b4 */
.icon-entypo-triangle-down:before { content: '\25be'; } /* 25be */
.icon-entypo-triangle-left:before { content: '\25c2'; } /* 25c2 */
.icon-entypo-airplane:before { content: '\2708'; } /* 2708 */
.icon-entypo-light-bulb:before { content: '\1f4a1'; } /* 1f4a1 */
.icon-entypo-add-to-list:before { content: '\e003'; } /* e003 */
.icon-entypo-browser:before { content: '\e74e'; } /* e74e */
.icon-entypo-cart:before { content: '\e73d'; } /* e73d */
.icon-entypo-cross-hair:before { content: '\1f3af'; } /* 1f3af */
.icon-entypo-squared-cross:before { content: '\274e'; } /* 274e */
.icon-entypo-circled-cross:before { content: '\2716'; } /* 2716 */
.icon-entypo-warning:before { content: '\26a0'; } /* 26a0 */
.icon-entypo-cross:before { content: '\2715'; } /* 2715 */
.icon-entypo-new:before { content: '\1f4a5'; } /* 1f4a5 */
.icon-entypo-cycle:before { content: '\1f504'; } /* 1f504 */
.icon-entypo-numbered-list:before { content: '\e005'; } /* e005 */
.icon-entypo-right-1:before { content: '\27a1'; } /* 27a1 */
.icon-entypo-left-1:before { content: '\2b05'; } /* 2b05 */
.icon-entypo-up-1:before { content: '\2b06'; } /* 2b06 */
.icon-entypo-down-1:before { content: '\2b07'; } /* 2b07 */

/* social extention map */
.icon-entypo-social-github:before { content: '\f300'; } /* f300 */
.icon-entypo-social-social-c-github:before { content: '\f301'; } /* f301 */
.icon-entypo-social-flickr:before { content: '\f303'; } /* f303 */
.icon-entypo-social-c-flickr:before { content: '\f304'; } /* f304 */
.icon-entypo-social-vimeo:before { content: '\f306'; } /* f306 */
.icon-entypo-social-c-vimeo:before { content: '\f307'; } /* f307 */
.icon-entypo-social-twitter:before { content: '\f309'; } /* f309 */
.icon-entypo-social-c-twitter:before { content: '\f30a'; } /* f30a */
.icon-entypo-social-facebook:before { content: '\f30c'; } /* f30c */
.icon-entypo-social-c-facebook:before { content: '\f30d'; } /* f30d */
.icon-entypo-social-s-facebook:before { content: '\f30e'; } /* f30e */
.icon-entypo-social-google+:before { content: '\f30f'; } /* f30f */
.icon-entypo-social-c-google+:before { content: '\f310'; } /* f310 */
.icon-entypo-social-pinterest:before { content: '\f312'; } /* f312 */
.icon-entypo-social-c-pinterest:before { content: '\f313'; } /* f313 */
.icon-entypo-social-tumblr:before { content: '\f315'; } /* f315 */
.icon-entypo-social-c-tumblr:before { content: '\f316'; } /* f316 */
.icon-entypo-social-linkedin:before { content: '\f318'; } /* f318 */
.icon-entypo-social-c-linkedin:before { content: '\f319'; } /* f319 */
.icon-entypo-social-dribbble:before { content: '\f31b'; } /* f31b */
.icon-entypo-social-c-dribbble:before { content: '\f31c'; } /* f31c */
.icon-entypo-social-stumbleupon:before { content: '\f31e'; } /* f31e */
.icon-entypo-social-c-stumbleupon:before { content: '\f31f'; } /* f31f */
.icon-entypo-social-lastfm:before { content: '\f321'; } /* f321 */
.icon-entypo-social-c-lastfm:before { content: '\f322'; } /* f322 */
.icon-entypo-social-rdio:before { content: '\f324'; } /* f324 */
.icon-entypo-social-c-rdio:before { content: '\f325'; } /* f325 */
.icon-entypo-social-spotify:before { content: '\f327'; } /* f327 */
.icon-entypo-social-c-spotify:before { content: '\f328'; } /* f328 */
.icon-entypo-social-qq:before { content: '\f32a'; } /* f32a */
.icon-entypo-social-instagram:before { content: '\f32d'; } /* f32d */
.icon-entypo-social-dropbox:before { content: '\f330'; } /* f330 */
.icon-entypo-social-evernote:before { content: '\f333'; } /* f333 */
.icon-entypo-social-flattr:before { content: '\f336'; } /* f336 */
.icon-entypo-social-skype:before { content: '\f339'; } /* f339 */
.icon-entypo-social-c-skype:before { content: '\f33a'; } /* f33a */
.icon-entypo-social-renren:before { content: '\f33c'; } /* f33c */
.icon-entypo-social-sina-weibo:before { content: '\f33f'; } /* f33f */
.icon-entypo-social-paypal:before { content: '\f342'; } /* f342 */
.icon-entypo-social-picasa:before { content: '\f345'; } /* f345 */
.icon-entypo-social-soundcloud:before { content: '\f348'; } /* f348 */
.icon-entypo-social-mixi:before { content: '\f34b'; } /* f34b */
.icon-entypo-social-behance:before { content: '\f34e'; } /* f34e */
.icon-entypo-social-google-circles:before { content: '\f351'; } /* f351 */
.icon-entypo-social-vk:before { content: '\f354'; } /* f354 */
.icon-entypo-social-smashing:before { content: '\f357'; } /* f357 */
