@charset "UTF-8";
@import "entypo-fonts";

[class^="icon-entypo-"], [class*=" icon-entypo-"] {
  font-family: entypo;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

